
<div id="newDiary">
    <textarea class="addDiaryTitle" contenteditable="true" ng-model="diary.title">

    </textarea>

   <div style="text-align:right">
      <select ng-options="option.name for option in options" ng-init="diary.category=options[1]" ng-model="diary.category" class="margin_bottom3">
        <option value="">-- 选择类型 --</option>
    </select>
    <select ng-options="option.name for option in options1"  ng-init="diary.show=options1[1]" ng-model="diary.show" class="margin_bottom3">
        <option value="">-- 选择权限 --</option>
    </select>
    <select ng-options="option.name for option in options2" ng-init="diary.fontFamily=options2[4]"  ng-model="diary.fontFamily" class="margin_bottom3">
        <option value="">-- 选择字体 --</option>
    </select>
    <select ng-options="option.name for option in options3" ng-init="diary.fontSize=options3[2]"  ng-model="diary.fontSize" class="margin_bottom3">
        <option value="">-- 选择字号 --</option>
    </select>
   </div>
   
    <div style="float: right">
      <select ng-options="option.name for option in them" ng-init="diary.them=them[0]"  ng-model="diary.them" class="margin_bottom3">
        <option value="">-- 选择主题 --</option>
     </select>
       <span class="pointer" ng-class="{ '_bold': bold }" ng-click="makeBold()" >加粗</span>
       <span class="pointer" ng-class="{ '_italic': italic }" ng-click="makeItalic()">倾斜</span>
       <span class="pointer" ng-class="{ '_underline': underline }" ng-click="makeUnderline()">下划线</span>
       <input style="width:100px;" id="mycolor" />
    </div>
    
</div>


<div class="addDiary" contenteditable="true"  >





</div>

<button ng-click="addDiary()">提交</button>



