<div class="cv padding2">
    <div class="cv_content">
        <div class="download">
            <a class="btn btn-large btn-primary"  ng-click="downloadresume()">
                <!--<i class="icon-download-alt icon-large"></i> Download-->
                <span class="glyphicon glyphicon-download-alt icon-large"></span> {{download}}
            </a>
        </div>

        <div class="resume">
            <div class="name center margin_top"><span><b>MAO MAO</b></span></div>
            <div class="address center margin_bottom"><span>25 Palatine, APT 456, Irvine, CA 92612 | http://www.maomao.work | mmao3@binghamton.edu</span>
            </div>
            <div class="boderBottom width90 aotoMargin fontLarge margin_bottom1">Objective</div>
            <div class="width90 aotoMargin">
                <div class="paddingLeft3 ">Full time Software Developer</div>
            </div>
            <div class="boderBottom width90 aotoMargin fontLarge margin_bottom1">Education</div>
            <div class="width90 aotoMargin">
                <div class="masterSchool paddingLeft3 margin_bottom2">Binghamton University-Binghamton,NY <span
                        class="right">Sep. 2013 to May 2015</span>
                </div>
                <div class="master paddingLeft3">Master in Electrical Engineering <span
                        class="right">GPA <b>3.94</b></span>
                </div>
                <div>&nbsp;</div>
                <div class="UnderSchool paddingLeft3 margin_bottom2">Binghamton University-Binghamton,NY <span
                        class="right">Sep. 2011 to May 2013</span>
                </div>
                <div class="under paddingLeft3">Bachelor in Electrical Engineering<span
                        class="right">GPA <b>3.83</b></span></div>
                <div>&nbsp;</div>
                <div class="UnderSchool paddingLeft3 margin_bottom2">Hebei University of Technology – Tianjin,
                    China <span
                            class="right">Sep. 2009 to Jul. 2011</span></div>
            </div>
            <div class="boderBottom width90 aotoMargin fontLarge margin_bottom1">Experience</div>
            <div class="width90 aotoMargin">
                <div class="margin_bottom2">
                    <span class="paddingLeft4">CoreIp Solutions, Irvine, CA</span>
                    <span class="paddingLeft4">Software developer</span>
                    <span class="right">Jul. 2015 to present</span>
                </div>
                <div class="paddingLeft5 margin_bottom2">- Built a next generation online banking site using
                    <b>EmberJS</b></div>
                <div class="paddingLeft5 margin_bottom2">- Created responsive web pages using <b>Bootstrap</b></div>
                <div class="paddingLeft5 margin_bottom2">- Applied <b>CSS3</b> rules for rich look and feel and used <b>SASS</b>
                    as preprocessors
                </div>
                <div class="paddingLeft5 margin_bottom2">- Used <b>Mocha</b>, <b>Chai</b>, <b>Sinon</b> to perform
                    unit-testing for JavaScript modules
                </div>
                <div class="paddingLeft5 margin_bottom2">- Utilized <b>Agile</b>/<b>Scrum</b> and <b>GIT</b> for Version
                    Control
                </div>
            </div>
            <div class="boderBottom width90 aotoMargin fontLarge margin_bottom1">Projects</div>
            <div class="width90 aotoMargin">
                <div class="paddingLeft4">
                    <span>Personal Website</span>
                    <span class="right">Jan. 2015 to Jun 2015</span>
                </div>
                <div class="paddingLeft5 margin_bottom2">- Designed User Interactive (UI) using web technologies like
                    <b>HTML5</b>, <b>CSS3</b>, and <b>JavaScript</b></div>
                <div class="paddingLeft5 margin_bottom2">- Used <b>Angular JS MVC Framework</b> to develop the
                    application as single page application
                </div>
                <div class="paddingLeft5 margin_bottom2">- Created custom validation using <b>JavaScript</b> Regular
                    Expression
                </div>
                <div class="paddingLeft5 margin_bottom1">- Developed <b>Java Servlet</b> on server side for handling
                    requests and responses
                </div>
                <div class="paddingLeft4">
                    <span>Online Web Game</span>
                    <span class="right">Oct.2014 to Dec. 2014</span>
                </div>
                <div class="paddingLeft5 margin_bottom2">- Created an online game using <b>HTML5 Canvas</b>, <b>JavaScript</b>
                </div>
                <div class="paddingLeft5 margin_bottom2">- Used <b>Bootstrap</b> for modal popups</div>
                <div class="paddingLeft5 margin_bottom2">- Developed client side validation code using <b>JavaScript</b>
                    and <b>JQuery</b></div>
                <div class="paddingLeft5 margin_bottom1">- Created APIs using <b>Servlet</b> and designed
                    <b>JavaScript</b> interfaces to consume the APIs
                </div>

                <div class="paddingLeft4">
                    <span>Bank Application</span>
                    <span class="right">Jul.2014 to Sep. 2014</span>
                </div>
                <div class="paddingLeft5 margin_bottom2">- Involved in <b>analysis</b>, <b>design</b> and
                    <b>development</b> of the system
                </div>
                <div class="paddingLeft5 margin_bottom2">- Developed a <b>Java</b> application which allowed for some
                    basic operations
                </div>
                <div class="paddingLeft5 margin_bottom2">- Used <b>Java I/O</b> to store user information</div>
                <div class="paddingLeft5">- Used <b>Swing</b> for the look and feel</div>
            </div>
            <div class="boderBottom width90 aotoMargin fontLarge margin_bottom1">Skills</div>
            <div class="width90 aotoMargin">
                <div class="paddingLeft4">
                    <div class="margin_bottom2"><b>Programing Languages</b>:<span class="paddingLeft6">Java, C, C++, SQL, Python, Visual Basic</span>
                    </div>
                    <div class="margin_bottom2"><b>Front-end Technologies</b>:<span class="paddingLeft7">HTML5, CSS3, JavaScript, jQuery Bootstrap, AngularJS, EmberJS, NodeJS</span>
                    </div>
                    <div class="margin_bottom2"><b>J2EE Technologies</b>:<span class="paddingLeft8">Servlets, JSP, JDBC, Spring, Hibernate, RESTful Service</span>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

