<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">请回答：</h4>
        </div>
        <div class="modal-body">
            我的高中班主任姓<input type="text>"> <br/>
            我的高中同桌兼好友是小<input type="text>">（具浪的那个）
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" >提交</button>
        </div>
    </div>

</div>
</div>