.color_1 {
	color: #9A9A9A;
}

.color_2 {
	color: #72AB00;
}

.color_3 {
	color: white;
}

.navbar-fixed-top {
	border-top: 0px solid rgba(114, 171, 0, 1);
	border-bottom: 2px solid rgba(114, 171, 0, 1);
}

.navbar-right {
	position: relative;
	margin-right: 0;
	top: 45px;
}

.right {
	float: right;
}

.pad {
	padding: 0 18px 0 18px;
}

.navbar-left {
	width: 266px;
}

.container {
	box-sizing: content-box;
	width: 980px;
}

.navbar {
	background: rgba(0, 0, 0, 1);
	height: 127px;
	margin-bottom: 0;
}

.language {
	height: 14px;
	color: white;
}

.language select, .language i {
	display: none;
}

.language .text:hover {
	text-decoration: underline;
}

.menu-nav {
	position: relative;
	display: block;
	text-align: right;
	top: 35px;
	clear: both;
}

.menu-item {
	display: inline-block;
	width: auto;
	text-transform: none;
	position: relative;
	line-height: normal;
	padding: 0 18px 0 18px;
}

.menu-item:lang(zh) {
	margin: 0 15px 0 15px;
}

.menu-item:last-child {
	padding-right: 0;
}

.menu-item:last-child:lang(zh) {
	margin-right: 0;
}

a:hover {
	color: #72AB00;
	text-decoration: none;
}

a:focus {
	color: #72AB00;
	text-decoration: none;
	outline: none;
}

.menu-text {
	cursor: pointer;
	font: normal normal normal 14px/1.1em helvetica-light, sans-serif;
	color: #9A9A9A;
}

a {
	color: #9A9A9A;
	text-decoration: none;
}

.clicked {
	color: #72AB00;
	text-decoration: none;
}

.menu-text:lang(zh) {
	font-size: 15px;
}

@font-face {
	font-family: helvetica-bold;
	src: url("../fonts/ag-helvetica-bold-35361.ttf") format('truetype');
}

@font-face {
	font-family: helvetica-light;
	src: url(../fonts/Helvetica%20Light.ttf) format('truetype');
}

@font-face {
	font-family: FontAwesome;
	src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype');
}

@font-face {
	font-family: helvetica-Roman;
	src: url(../fonts/HelveticaNeueLTStd-Roman.otf) format('otf');
}

.font_0 {
	font: normal normal normal 51px/1.1em helvetica-bold, sans-serif;
	color: #72AB00;
}

.font_2 {
	font: normal normal normal 44px/1.1em helvetica-Roman, sans-serif;
	color: #72AB00;
}

.font_3 {
	font: normal normal normal 70px/1.1em helvetica-bold, sans-serif;
	color: #494949;
}

.font_6 {
	font: normal normal normal 20px/1.3em helvetica-light, sans-serif
}

.font_5 {
	font: normal normal normal 25px/1.2em helvetica-light, sans-serif;
	color: #494949;
}

.font_7 {
	font: normal normal normal 17px/1.3em helvetica-light, sans-serif;
	color: #494949;
}

.font_8 {
	font: normal normal normal 15px/1.3em helvetica-light, sans-serif;
	color: #494949;
}

.font_9 {
	font: normal normal normal 12px/1.3em Arial;
	color: #494949;
	margin: 0;
	line-height: normal;
	letter-spacing: normal;
}

.linHeight1 {
	line-height: 1.3em;
}

.alignLeft {
	text-align: left;
}

.marginTop {
	margin-top: 42px;
}

.mainContent {
	position: relative;
}

.align {
	position: relative;
	top: 12px;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.vertical {
	vertical-align: middle;
}

.mv-right {
	left: 4px;
}

.pointer {
	cursor: pointer;
}

.padding1 {
	padding-top: 80px;
}

.padding2 {
	padding-top: 50px
}

.marginZero {
	margin-top: 0px;
}

.absolute {
	position: absolute;
}

.contact {
	height: 480px;
	margin-bottom: 130px
}

.avail {
	top: 80px;
	width: 151px;
	left: 750px;
}

.avail p {
	margin: 0px;
}

.homepage .socialLink {
	left: 750px;
	top: 420px;
}

.homepage .socialLink a {
	margin-right: 5px;
}

.homepage {
	height: 650px;
}

.intro {
	left: 450px;
	top: 70px;
	width: 286px;
	word-wrap: break-word;
}

.intro h3, .intro h5 {
	margin: 0px;
}

.homepage .intro, .homepage .span {
	line-height: 0.9em;
}

.myCV button {
	border-radius: 0;
	background-color: rgba(114, 171, 0, 1);
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	border: solid rgba(0, 0, 0, 1) 0px;
}

.buttonText {
	font: normal normal normal 15px/1.3em helvetica-light, sans-serif;
	transition: color 0.4s ease 0s;
	color: #FFFFFF;
	display: inline-block;
	white-space: nowrap;
}

.myCV {
	top: 420px;
	left: 450px;
}

.myCV button {
	height: 30px;
	width: 136px;
}

.homeBottom p {
	margin: 0px;
	width: 280px;
}

.line1 {
	left: 320px;
}

.line2 {
	left: 680px;
}

.quote {
	left: 375px;
}

.recent {
	left: 735px;
}

.line {
	border-left: 1px solid rgba(154, 154, 154, 0.46);
	margin-left: -0.5px;
	min-width: 0 !important;
	height: 90px;
	width: 5px;
}

.myCV button:hover, .myCV button span {
	color: #FFFFFF;
	transition: color 0.4s ease 0s;
}

.myCV button:hover {
	background-color: rgba(189, 213, 142, 1);
	border-color: rgba(0, 0, 0, 1);
	transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.info {
	word-wrap: break-word;
	top: 160px;
}

.info p, .info h6 {
	margin: 0;
	line-height: normal;
	letter-spacing: normal;
}

.socialLink {
	top: 320px;
}

.socialLink a {
	margin-right: 20px;
}

.emailForm {
	right: 0px;
	top: 160px;
	width: 70%;
}

.homeTop {
	border: 1px solid rgba(154, 154, 154, 0.46);
	background-color: rgba(248, 248, 248, 1);
	border-radius: 5px;
	height: 460px;
}

.emailForm button, .emailForm input, .emailForm textarea {
	border-radius: 0;
	padding: 5px;
}

.emailForm textarea {
	min-height: 130px;
	resize: none;
}

.emailForm .button {
	background-color: rgba(114, 171, 0, 1);
	font: normal normal normal 17px/1.3em helvetica-light, sans-serif;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	margin: 0;
	max-width: 10%;
}

.emailForm input, .emailForm textarea {
	font: normal normal normal 15px/1.3em helvetica-light, sans-serif;
	background-color: rgba(154, 154, 154, 0.27);
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0px solid rgba(255, 255, 255, 1);
	color: #494949;
	margin: 0 0 5px;
	display: block;
	width: 100%;
}

footer {
	clear: both;
	background-color: rgba(255, 255, 255, 1);
	height: 52px;
	border-top: 1px solid rgba(154, 154, 154, 1);
	border-bottom: 1px solid rgba(154, 154, 154, 1);
}

.dropdown-menu {
	min-width: 80px;
}

.dropdown-toggle:hover {
	color: #72AB00;
}

.dropdown-menu>li>a {
	padding: 2px 2px;
}

.resume {
	height: 11in;
	width: 8.5in;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border: 1px solid grey;
}

.cv_content {
	width: 8.5in;
	margin: auto;
}

.download {
	text-align: right;
	margin-bottom: 20px;
}

.name {
	margin: auto;
	font-size: 26pt;
}

.address {
	font-size: 11pt;
}

.center {
	text-align: center;
}

.boderBottom {
	border-bottom: 1px solid rgb(209, 71, 71);
}

.width90 {
	width: 90%;
}

.aotoMargin {
	margin: auto;
}

.paddingLeft3 {
	padding-left: 22%;
}

.fontLarge {
	font-size: 17pt;
	color: rgb(102, 102, 102)
}

.margin_top {
	margin-top: 15px;
}

.margin_bottom {
	margin-bottom: 15px;
}

.margin_bottom1 {
	margin-bottom: 5px;
}

.margin_bottom2 {
	margin-bottom: 4px;
}

.paddingLeft4 {
	padding-left: 13.7%;
}

.paddingLeft5 {
	padding-left: 20%;
}

.paddingLeft6 {
	padding-left: 3%;
}

.paddingLeft7 {
	padding-left: 2%;
}

.paddingLeft8 {
	padding-left: 6.5%;
}

.loading {
	background-image: url('../images/loader.gif');
	width: 26px;
	height: 26px;
	position: relative;
	top: 3px;
	left: 730px;
	display: inline-block;
}

.error {
	border: 1px solid red !important;
}

.ok {
	border: 1px solid green !important;
}

.diary:lang(en) {
	display: none;
}

.exact_entry {
	float: left;
	position: relative;
	z-index: 15;
	margin-right: 10px;
}

.exact_entry .gb_bt2 {
	display: inline-block;
	padding: 0 20px 0 50px;
	font-size: 14px;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	border-width: 1px;
	border-style: solid;
}

.gb_bt2 {
	color: #FFFFFF;
	border: 1px solid #3686B3;
	background-color: #46B2EF;
	background-position: 0 0;
}

.exact_entry a i {
	position: absolute;
	top: 7px;
	left: 21px;
}

.icon_blog_entry {
	background-image: url(../images/qq.png);
	background-position: -223px 0;
}

.icon_blog_entry {
	display: inline-block;
	width: 22px;
	height: 18px;
}

.gb_bt2:hover {
	color: #FFFFFF;
	border: 1px solid #3686B3;
	background-color: #3FA5DE;
	background-image: linear-gradient(top, #48AFE8 0, #389ED7 100%);
	background-image: -moz-linear-gradient(top, #48AFE8 0, #389ED7 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48AFE8),
		color-stop(100%, #389ED7));
}

.dia_content {
	background-color: #24639D;
}

.padding3 {
	padding-top: 30px;
	height: 600px;
}

.diary_content {
	background-color: rgb(36, 99, 157);
	color: #fff;
	padding: 18px;
	position: relative;
	min-height: 120px;
}

.odd {
	background-color: rgb(43, 109, 170);
}

.icon_lock {
	background-image: url(../images/qq.png);
	background-position: -337px -68px;
}

.icon {
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	font-size: 0;
}

.inline {
	display: inline-block;
}

.border {
	border-bottom: 1px solid rgb(60, 133, 200);
	border-top: 1px solid rgb(60, 133, 200);
	padding: 10px 0 10px 0;
	margin-bottom: 15px;
}

.width70 {
	width: 80%;
}

.diary_right {
	position: absolute;
	right: 18px;
	top: 18px;
	width: 12%;
}

.marginR {
	margin-right: 18px;
}

.diary_content ul {
	height: 40px;
	padding: 8px 0;
	margin: 0px;
}

.diary-title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.dhover {
	background-color: rgb(43, 109, 170);
}

.dclicked {
	background-color: rgb(41, 116, 186);
}

.padding4 {
	padding: 6px 0;
}

.diaryList_content_them1 {
	background-color: rgb(36, 99, 157);
	color: #fff;
}
.diaryList_content_them2 {
	background-color: rgb(245, 238, 220);
	color: #000;
}

.listTop {
	height: 40px;
	padding: 8px 18px;
	margin-bottom: 20px;
}
.listTop_them1{
	background-color: rgb(41, 116, 186);
	color: #fff;
}
.listTop_them2{
	background-color: rgb(229, 196, 114);
	color: #000;
}

.seond_top {
	padding: 0px 18px;
	margin-bottom: 15px;
}

.font26 {
	font-size: 24px;
}

.marginRight1 {
	margin-right: 60px;
}

.marginRight2 {
	margin-right: 5px;
}

.icon_praise {
	background-image: url(../images/qq.png);
	background-position: -286px -34px;
}

.third_top {
	padding: 40px 18px 0px 18px;
}

.boderRight {
	border-right: 1px solid rgb(35, 116, 191);
}

.padding5 {
	padding: 3px 15px 3px 5px;
}

.icon_comment {
	background-image: url(../images/qq.png);
	background-position: -303px -17px;
}

.diaryList_nr {
	min-height: 400px;
}

.margin_bottom3 {
	margin-bottom: 30px;
}

.diaryList_nr {
	padding: 0 18px;
}

.pinglun {
	padding: 0 18px;
}

.borderTop {
	border-top: 1px solid rgb(35, 116, 191);
}

.dcommment {
	padding: 0px 18px;
}

.dcommment ul {
	padding: 6px 0;
}

.ip {
	font-size: 1.2em;
	text-decoration: underline;
}

.marginRight4 {
	margin-right: 20px;
}

.marginRight3 {
	margin-right: 10px;
}

.dcontent {
	padding: 10px 0;
}

.addComment {
	height: 6.8em;
	padding: 0.25em 0.35em 2.25em;
	border: 1px solid #347AFF;
	border-radius: 0.5em;
	width: 50%;
	margin-left: 18px;
	background-color: #fff;
	color: #000;
}

.addcms {
	color: #fff;
	background-color: rgb(70, 178, 239);
	width: 10%;
	margin: 10px 0 18px 18px;
}

.addcms:hover {
	background-color: rgb(63, 165, 222);
}

.addDiary {
	width: 100%;
	border: 1px solid #347AFF;
	background-color: #fff;
	min-height: 500px;
	margin-top: 80px;
}

.addDiaryTitle {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	border: 1px solid #347AFF;
	background-color: #fff;
	height: 50px;
}

.ng-cloak {
	display: none !important;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: 2px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}
._bold{
	font-weight: bold;
}
._underline{
	text-decoration: underline;
}
._italic{
	font-style: italic
}
